{% extends 'layout.html' %}
{% load bootstrap5 %}

{% block body %}
<div>
  <a href="{% url 'workouts:home' %}">Back to Workouts</a>
</div>

<div class="bg-light m-3 p-3 border rounded">
  <h1>Let's finish your workout!</h1>
  <form novalidate method="post" autocomplete="off">
    {% csrf_token %}
    {% bootstrap_field form.name %}
    {% bootstrap_field form.workout_datetime %}
    <div class="d-flex flex-wrap">
      {% bootstrap_field form.duration form_group_class="m-2"%}
      {% bootstrap_field form.effort form_group_class="m-2" %}
    </div>
    {% bootstrap_field form.description %}

    <div class="d-flex flex-wrap justify-content-between my-3">
      <div>
        {% bootstrap_button 'Update' %}
      </div>
      <div>
        <a href="{% url 'workouts:delete_workout' form.instance.id %}">Remove</a>
      </div>
    </div>
  </form>

  <div>
    <h3>History</h3>
    <div class="row m-2 bg-secondary text-white" style="font-size: .8em;">
      <div class="col">Name</div>
      
      <div class="col">duration</div>
      <div class="col">effort</div>
      <div class="col">history_date</div>
      <div class="col">User</div>
    </div>

    {% for h in workout.history.all %}
    <div class="row m-2" style="font-size: .8em;">
      
      <div class="col">
        <div >{{ h.name }}</div>
        {{ h.workout_datetime }}
      </div>
      <div class="col">{{ h.duration }}</div>
      <div class="col">{{ h.effort }}</div>
      <div class="col">{{ h.history_type }}{{ h.history_date }}</div>
      <div class="col">{{ h.history_user }}</div>
    </div>
    {% endfor %}

  </div>

</div>
{% endblock body %}