{% extends 'layout.html' %}

{% block body %}
  <h4>Workouts</h4>

  <div class="menu-wrapper">
  <a href="{% url 'dashboard:home'%}">Back to Dashboard</a> | 
  <a href="{% url 'workouts:create_workout' %}">Create a new Workout</a>
  </div>

  
  <div class="border my-3 p-3  rounded">

  <h5>Workouts</h5>

  
  {% if workouts  %}
 
  <div class="container">
    <div class="row border-bottom bg-dark text-white">
    
        <div class="col-md-3">Name</div>
        <div class="col-md-3">Date</div>
        <div class="col-md-3">Duration(min)</div>
        <div class="col-md-3">Effort</div>
    
      </div>
    {% for w in workouts %}
      <div class="row border-bottom py-2">
          <div class="col-md-3"><a href="{% url 'workouts:update_workout' w.id %}">{{ w.name }}</a></div>
          <div class="col-md-3">{{ w.workout_datetime | date:"SHORT_DATETIME_FORMAT"}}</div>
          <div class="col-md-3">{{ w.duration }}</div>
          <div class="col-md-3"  >
              
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: {{w.pct}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                {{w.pct}}%  (effort {{w.effort}})

              </div>
            </div>

          </div>
      </div>
    {% endfor %}
 
 
  {% else %}
    <h2 class="text-muted">Let's create a new workout today!</h2>
  {% endif %}
</div>

{% endblock body %}