{% extends 'layout.html' %}
{% load bootstrap5 %}

{% block body %}
<div>
  <a href="{% url 'workouts:home' %}">Back to Workouts</a>
</div>

<div class="bg-light m-3 p-3 border rounded">
  <h1>Tell us about your workout!</h1>
  <form novalidate method="post" autocomplete="off">
      {% csrf_token %}
      {% bootstrap_field form.name %}
      {% bootstrap_field form.workout_datetime %}
      <div class="d-flex flex-wrap">
      {% bootstrap_field form.duration form_group_class="m-2"%}
      {% bootstrap_field form.effort form_group_class="m-2" %}      
      </div>
      {% bootstrap_field form.description %}

      <div class="my-3">
      {% bootstrap_button 'Create' %}
      </div>
  </form>
</div>  
{% endblock body %}