 
.login-box .btn-primary {
  background-color: #274545;
  border-color: #2e6f6f;
}


 

.login-box .btn-primary:hover {
  background-color: #345c5c;
  border-color: #2e6f6f;
}

body {
  background-color: #53bdbd;
}