{% load bootstrap5 %}
{% load static %}
 

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500;600&family=Merriweather:wght@300&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS -->
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  
  <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
  <script src="{% static 'bundle.js' %}" defer ></script>
  <link rel="stylesheet" href="{% static 'flatpickr.min.css'%}">

  {% block css %}{% endblock css %}

  <title>Fitness</title>
</head>

<body>
  <div id="main" class="container-fluid">
    
    
    {% if view.template_name != "registration/login.html"  %}
    {% include '_signon.html' %}
    {% endif %}

    {% bootstrap_messages %}

    {% block body %}{% endblock body %}

  </div>
</body>

</html>