<h1>This Week</h1>


<table class="table table-bordered">
  <thead>
      <tr>
        <th>Lbs</th>
        <th>Date</th>
      </tr>
  </thead>
  {% for weight in weights %}
  <tr>
    <td>{{ weight.lbs }}</td>
    <td><a href="{% url 'dashboard:weight' weight.id %}">{{ weight.entry_date |date }}</a></td>
  </tr>
  {% endfor %}

</table>




<script>

  google.charts.load('current', {packages: ['corechart', 'line']});
  google.charts.setOnLoadCallback(drawBasic);
  
  function drawBasic() {
  
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Weight');
  
        data.addRows([           
            {% for x,y in chart %}
              [new Date("{{x|date:"Y-m-d"}}"), {{y}}],
            {% endfor %}            
        ]);
  
        var options = {
          hAxis: {
            title: 'Time'
          },
          vAxis: {
            title: 'Weight'
          }
        };
  
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
  
        chart.draw(data, options);
      }
</script>
 

